@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #171717;
  --header-border-color: #D4A373;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lora);
}

.main-heading {
  @apply
    text-[36px]
    font-bold
    leading-tight
    w-full
    md:w-[40%]
    mt-61
    -ml-2;
}

.sub-heading {
  @apply
    text-[36px]
    font-bold
    text-[#495057]
    tracking-tight
    mt-1
    mb-12;
}

.main {
  @apply
    container
    mx-auto
    py-8
    px-4
    lg:px-0;
}

.main-no-title {
  @apply
    mt-23
    mb-8;
}

.btn {
  @apply
    text-white
    bg-gray-800
    hover:bg-gray-900
    focus:outline-none
    focus:ring-4
    focus:ring-gray-300
    rounded-md
    cursor-pointer
    text-lg
    font-bold
    px-5
    py-2.5
    mb-2
    me-2;

  &[disabled] {
    @apply
      opacity-60
      cursor-not-allowed
      pointer-events-none
      bg-gray-300
      text-gray-500
      hover:bg-gray-300;
  }
}

.btn-lg {
  @apply
    py-3.5
    px-15;
}

/**
 Animations
 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}